/*******************************************************************
 *                           COMMON                                *
 *******************************************************************/
.people-block .block-footer-content a {
  position: absolute;
  top: 2px;
  right: 0px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  padding-right: 15px;
}

.people-block .banner-span {
  color: #000;
  font-size: 14pt;
  font-weight: bold;
  background-color: #EEE;
}


/*******************************************************************
 *                           MAIN BOX - 1                          *
 *******************************************************************/
.box-1 .people-block .banner-div {
  line-height: 112px;
}

.box-1 .people-block .banner-span {
  width: 204px;
}


/*******************************************************************
 *                        LEFT/RIGHT BOXES                         *
 *******************************************************************/
.box-2 .people-block .banner-div,
.box-3 .people-block .banner-div {
  line-height: 78px;
}

.box-2 .people-block .banner-div a,
.box-3 .people-block .banner-div a {
  height: 78px;
}

.box-2 .people-block .banner-span,
.box-3 .people-block .banner-span {
  width: 116px;
}

.box-2 .people-block ul,
.box-3 .people-block ul {
  min-width: 196px;
  margin: 0px 0px 0px -3px;
  padding: 0px;
}

/*******************************************************************
 *                        BLOCKs                                   *
 *******************************************************************/
#content .box-1 .people-block ul,
#content .box-1 .friends-block ul,
#content .box-1 .members-block ul
{
  width: auto;
  display: block;
}
#content .members-block .block-footer-content .join-leave-button a {
  position: relative;
  background-color: #EEE;
  border: 1px solid #CCC;
  color: #555;
  padding-right: inherit;
}
#content .members-block .block-footer-content .join-leave-button a:hover {
  color: #FFF;
  background-color: #555;
  border: 1px solid #2e3436;
  text-decoration: none;
}
#content .friends-block .block-footer-content .profiles-suggestions a,
#content .friends-block .block-footer-content a.more-suggestions {
  position: relative;
}

#content .common-profile-list-block .profiles-suggestions .profile-list .extra_info {
  top: 20px;
  left: -69px;
}

#content .common-profile-list-block .profiles-suggestions .button span {
  display: none;
}
#content .common-profile-list-block .profiles-suggestions .controll {
  top: 0px;
  right: 0px;
}
#content .common-profile-list-block .profiles-suggestions .controll a {
  width: 16px;
  padding: 1px;
}
