#content form input.button.submit {
  height: 28px;
  cursor: pointer;
}

.button-bar {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.box-2, .box-3 {
  .button-bar {
    display: flex;
    .button {
      flex-grow: 1;
    }
  }
}

.button {
  color: initial;
  cursor: pointer;
  display: inline-block;
  background-image: none !important;
  border: 0.063em solid;
  border-radius: 0.250em;
  &:not(:last-child) { margin-right: 3px; }
  font-size: 14px !important;
  padding: 0.313em 0.750em;
  margin-top: 0.250em;
  margin-bottom: 0.125em;
  @media only screen and (max-width: 768px) { margin-bottom: 5px; }
  @media only screen and (max-width: 540px) { padding: 6px 8px !important; }
  height: auto;
  line-height: 16px !important;
  text-align: center;
  text-decoration: none !important;

  &:hover, &:visited {
    text-decoration: none !important;
  }
}

.button.without-text {
  padding: 0.313em 0.3em;

  i.fa {
    margin: 0;
  }
}

.input-button-min {
  padding-left: 12px !important;
  padding-right: 12px !important;
  max-width: 80px !important;
  width: fit-content !important;
  display: table;
  margin-left: 6px !important;
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
  -moz-appearance: none;
}

.input-button-min:hover {
  background-color: #00ad44 !important;
  border-color: #398439 !important;
}

.button-bar a.button.with-text {
  background-image: none !important;
  font-size: 14px;
}

.icon-button {
  border: none;
}
.icon-button:hover {
  border: none;
}
body.noosfero a.button.with-text.icon-none, body.noosfero input.button.with-text.icon-none {
  padding-left: 2px;
}

$default_blue: #6496c8;
$hover_blue: #346392;
$active_blue: #27496d;

#content {
  a.button, a.btn-blue-reverse, a.btn-blue-reverse-icon-cancel,
  a.lead-button, a.icon-add, a.icon-help, a.icon-logout, a.icon-new_user, a.icon-back,
  a.icon-save_and_continue, a.icon-cancel {
    color: $hover_blue;
    background-color: #fff;
    border-color: $hover_blue;

    &:not(.keep-when-hover):hover {
      color: #fff;
      background-color: $hover_blue;
      border-color: #e8e8e8;
    }
  }
}

a.btn-green, a.icon-search, a.icon-plus, a.icon-toggle-on {
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
  &:hover {
    background-color: #449d44 !important;
    border-color: #398439 !important;
  }
}

a.btn-red, a.icon-delete.with-text, a.icon-ban.with-text {
  color: #fff !important;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
  &:hover {
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
  }
}

a.btn-red-reverse, a.icon-close {
  color: #d9534f !important;
  background-color: transparent !important;
  border-color: #d43f3a !important;
  &:not(.keep-when-hover):hover {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #ac2925 !important;
  }
}

a.btn-blue, a.icon-new, a.icon-save, a.icon-upload, a.icon-login, a.icon-none, a.icon-user-plus, a.icon-ok {
  color: #fff !important;
  background-color: $hover_blue !important;
  border-color: #e8e8e8 !important;
  &:not(.keep-when-hover):hover {
    color: #fff !important;
    background-color: $active_blue !important;
    border-color: $hover_blue !important;
  }
}

a.btn-orange.icon-back {
  color: #fff !important;
  background-color: #f0ad4e;
  border-color: #eea236;
  &:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
  }
}

a.btn-orange-reverse {
  color: #ec971f !important;
  background-color: transparent !important;
  border-color: #d58512 !important;
  &:hover {
    color: #fff !important;
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
  }
}
