<h1><%= _('Change password') %></h1>

<%= error_messages_for :user %>

<%= form_tag({}, { class: 'change-password' }) do %>
  <p><label for="password"><%= _('Current password') %></label><br/>
  <%= password_field_tag :current_password %></p>

  <p><label for="password"><%= _('New password') %></label><br/>
  <%= password_field_tag :new_password %></p>

  <p><label for="password_confirmation"><%= _('Confirm your new Password') %></label><br/>
  <%= password_field_tag :new_password_confirmation %></p>
<% end %>

<%= button_bar do %>
  <%= button(:back, _('Back to control panel'), controller: 'profile_editor', profile: user.identifier) %>
  <%= submit_button('save', _('Save')) %>
<% end %>
